#menu-bar,
#mdbook-menu-bar,
.left-buttons,
.right-buttons {
    align-items: center;
}

.left-buttons,
.right-buttons,
.menu-title,
.menu-title .logo {
    display: flex;
}

.menu-title {
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-title .logo {
    align-items: center;
    color: var(--icons);
    text-decoration: none;
}

.logo-favicon {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.right-buttons .mvndi-menu-link {
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    height: var(--menu-bar-height);
    color: var(--icons);
    transition: color 0.5s;
}

.right-buttons .mvndi-menu-link:hover {
    color: var(--icons-hover);
}

.mvndi-menu-icon {
    display: inline-flex;
}

.mvndi-menu-icon svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: currentColor;
}

@media only screen and (max-width: 420px) {
    .right-buttons .mvndi-menu-link {
        padding: 0 5px;
    }
}
